# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore project stuff
.svelte-kit/
build/
node_modules/
prisma/migrations
sundry/
.env
.env.*
!.env.example

# Ignore VS Code and git stuff
.gitattributes
.gitignore
.npmrc
.git/
.vscode/

# Ignore miscellaneous
**/*.md
**/*.sql
**/*.css
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.mpeg
**/*.zip
